<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ORF Application</title>

  <link rel="stylesheet" href="static/styles.css"/>

  <!--Javascript Libraries-->
  <!--have to have http: becasue we're loading from a file:// otherwise // convention works great -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>

  <!--Map Control-->
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script type="text/javascript" src="static/jquery.ui.bmap.min.js"></script>

  <!--ORF Code-->
  <script src="static/mapapp.js"></script>

</head>

<body>

  <div id="mappointapp">

    <header>
      <h1>Map Editor</h1>
      <input id="new-mapinfo" type="text" placeholder="Type description here.">
    
    </header>

    <section id="main">
      <select id="type-selector">
	<option value="point">Point</option>
	<option value="line">Line</option>
	<option value="shape">Shape</option>
      </select>
      
      <ul id="mappoint-list"></ul>
    </section>

    <footer>
      <div id="mappoint-count"></div>
    </footer>

  </div>

  <div id="instructions">
    Click the map to start adding points.
    <br>Right-click to remove points.
    <br>Drag to relocate points.
  </div>

  <!-- Map Element -->
  <div id='mapDiv' oncontextmenu="return false"></div>
  
  <!-- Templates -->
  <script type="text/template" id="item-template">
    <div class="view">
      <label><%- order %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <div class="mappoint-count"><b><%= remaining %></b> points</div>
  </script>

  </body>
</html>